torch==2.3.1
torchvision==0.18.1
timm==1.0.3
ultralytics==8.2.86

opencv-python-headless==4.8.1.78
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
Pillow==10.3.0

streamlit==1.36.0
streamlit-autorefresh==1.0.1
gdown==5.2.0
joblib==1.4.2
